public/data/n8n/github/github-issues-automation.json
{
  "name": "KBVE.com Git Issues",
  "nodes": [
    {
      "parameters": {
        "owner": "kbve",
        "repository": "kbve.com",
        "events": [
          "issues"
        ]
      },
      "id": "e3883f53-9371-4fb2-b9ea-fa5b3916959d",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -3080,
        300
      ],
      "webhookId": "-",
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "ticket",
        "pipelineId": "0",
        "stageId": "1",
        "ticketName": "=GH # {{ $node[\"Github Trigger\"].json.body.issue.number }}",
        "additionalFields": {
          "associatedCompanyIds": [
            7101067111
          ],
          "category": "PRODUCT_ISSUE",
          "description": "=Information Found Here: {{ $node[\"Github Trigger\"].json.body.issue.html_url }}"
        }
      },
      "id": "7df90c91-c2ce-47c1-b616-c6b970f25eeb",
      "name": "HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 1,
      "position": [
        -2260,
        440
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "3",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createComment",
        "owner": "={{ $node[\"Github Trigger\"].json[\"body\"][\"repository\"][\"owner\"][\"login\"] }}",
        "repository": "={{ $node[\"Github Trigger\"].json[\"body\"][\"repository\"][\"name\"] }}",
        "issueNumber": "={{ $node[\"Github Trigger\"].json[\"body\"][\"issue\"][\"number\"] }}",
        "body": "=Automating Tasker\n* * *\n[KBVE Support](https://kbve.com/support/)\n* * *\n[KBVE Discord](https://kbve.com/discord/)\n* * *\n[KBVE Staff](https://kbve.com/team/)\n* * *\n[KBVE VIP Priority](https://kbve.com/vip/) || [KBVE Community](https://kbve.com/c/)\n* * *\n[HubSpot Ticket Created](https://app.hubspot.com/contacts/{{ $json[\"portalId\"] }}/ticket/{{ $json[\"objectId\"] }})\n* * *"
      },
      "id": "fc87a402-8abd-4a71-82cd-7a5f2e656c60",
      "name": "InitGIthub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -2020,
        220
      ],
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "id": "9c5bbe6f-fc09-4ee7-97ce-c649b1833eac",
      "name": "Grafana",
      "type": "n8n-nodes-base.grafana",
      "typeVersion": 1,
      "position": [
        -1540,
        500
      ],
      "disabled": true
    },
    {
      "parameters": {
        "team": "9006032826",
        "space": "90060076415",
        "folder": "90060240772",
        "list": "900600470368",
        "name": "={{ $node.GitHubGrabIssue.json.number }}",
        "additionalFields": {
          "assignees": [
            57164563
          ],
          "content": "=[Github Issue]({{ $node.GitHubGrabIssue.json.html_url }})\n\n* * *\nHubspot Ticket : [HubSpot Ticket Created](https://app.hubspot.com/contacts/{{ $json[\"portalId\"] }}/ticket/{{ $json[\"objectId\"] }})",
          "markdownContent": true,
          "status": "to do"
        }
      },
      "id": "99c3833c-00fe-4521-8649-4a236ee5b145",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -2020,
        440
      ],
      "credentials": {
        "clickUpApi": {
          "id": "6",
          "name": "ClickUp KBVE"
        }
      }
    },
    {
      "parameters": {
        "webhookUri": "",
        "options": {
          "components": "setT"
        }
      },
      "id": "cc645724-ca30-4b02-af38-4a1e4f57a1c6",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        -1540,
        280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4e6dc625-14aa-4077-85b0-b4cbfc2170ff",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -1560,
        -260
      ],
      "credentials": {
        "openAiApi": {
          "id": "7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1676326571468-8700948229525",
        "binContent": "=Git Issue: {{ $json[\"html_url\"] }}"
      },
      "id": "25ce0c12-f264-443f-a9fb-e237f22579e3",
      "name": "PostBin",
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        -1560,
        -20
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ JSON.stringify($json.assignees) }}",
              "operation": "regex",
              "value2": "/kbvebot/i"
            }
          ]
        }
      },
      "id": "532e9f63-287a-446d-86c1-6a11016a3396",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.body.repository.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.body.repository.name }}",
          "mode": "name"
        },
        "issueNumber": "={{ $json.body.issue.number }}"
      },
      "id": "7f16931f-f4a6-416f-ba75-f81f7f09a0ba",
      "name": "GitHubGrabIssue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -2860,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $node[\"Github Trigger\"].json.body.repository.owner.login }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $node[\"Github Trigger\"].json.body.repository.name }}",
          "mode": "name"
        },
        "issueNumber": "={{ $node[\"Github Trigger\"].json.body.issue.number }}",
        "editFields": {
          "assignees": [
            {
              "assignee": "kbvebot"
            }
          ]
        }
      },
      "id": "89dbb89c-e90f-4224-b230-31ac0108ce94",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -2460,
        440
      ],
      "credentials": {
        "githubApi": {
          "id": "4",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "GitHubGrabIssue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InitGIthub": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostBin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "InitGIthub",
            "type": "main",
            "index": 0
          },
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grafana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHubGrabIssue": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "saveExecutionProgress": "DEFAULT",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none"
  },
  "versionId": "ec08cf4f-06b0-484f-a21c-a7edfa0d0f67",
  "id": "6",
  "meta": {
    "instanceId": "290edf19075c573c46d8641c39432c3840460ddf29e6f748ee54a95aeeb3ed59"
  },
  "tags": []
}