public/data/n8n/supabase/Supabase_User_Data.json
{
  "name": "Supabase User Data",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ $('Init').item.json.username }}"
            }
          ]
        }
      },
      "id": "f6f4842e-a7db-49fa-85ec-b08d5079f619",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        -200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "16",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "/cache/:action/:username",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2b7e6411-e299-4237-bfc5-9ec38bc37060",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -20,
        380
      ],
      "webhookId": "c7b823cb-20c4-4cbd-8fdc-bb0c4072a60f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "66ccfbeb-8154-433f-a150-bbbb71edf1ec",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1940,
        -420
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "khash"
            },
            {
              "fieldName": "public_key"
            },
            {
              "fieldName": "avatar_url"
            },
            {
              "fieldName": "twitter"
            },
            {
              "fieldName": "github"
            },
            {
              "fieldName": "instagram"
            }
          ]
        }
      },
      "id": "11dc0ad0-64d5-4bdd-bdcf-3d12af79c773",
      "name": "Parse Userdata",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1720,
        -300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "67ead039-8aae-4882-ae5e-776a7fa14cb1",
      "name": "IF USERNAME",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify(JSON.parse('{\"data\":[{\"error\":\"No Username Found\"}]}')) }}",
        "options": {
          "responseCode": 418
        }
      },
      "id": "d0d1b07d-aae3-47b6-980c-97748e783765",
      "name": "No User Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1720,
        -20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.redis_username }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8e75226c-f797-4dd4-a708-d28f6c6fc6d0",
      "name": "Redis Match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        -340
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Init').item.json.username }}",
        "value": "={{ JSON.stringify($json.data) }}",
        "keyType": "string"
      },
      "id": "b96803ef-aab9-4111-8644-5baf7ecbb2a2",
      "name": "Redis Store User",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1940,
        -260
      ],
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "17",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "username",
              "value": "={{ $json.params.username }}"
            },
            {
              "name": "action",
              "value": "={{ $json.params.action }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "d9c41b5f-8217-44e2-88d4-7ee2d027af03",
      "name": "Init",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        140,
        380
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "profile"
            },
            {
              "value2": "delete",
              "output": 1
            }
          ]
        }
      },
      "id": "87060891-ae98-49eb-b260-91e090c9a2e7",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        360,
        380
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Init').item.json.username }}"
      },
      "id": "fc41c44c-ba93-4741-ad09-fe56d84b73fa",
      "name": "Redis-Delete-Key",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        820,
        220
      ],
      "credentials": {
        "redis": {
          "id": "17",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "redis_username",
        "key": "={{ $('Init').item.json.username }}",
        "keyType": "string",
        "options": {
          "dotNotation": true
        }
      },
      "id": "47991377-0b9e-45e0-9079-378290446ad2",
      "name": "Redis-Get-Key",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        820,
        -340
      ],
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "17",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify(JSON.parse('{\"data\":[{\"v01d\":\"Key was cleared from Cache\"}]}')) }}",
        "options": {
          "responseCode": 418
        }
      },
      "id": "a21c70b3-e95b-42ad-9ec1-0f6b87ce619f",
      "name": "WS-End-Delete-Key",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1060,
        220
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify(JSON.parse($json.redis_username)) }}",
        "options": {}
      },
      "id": "20ee0ef4-22ca-452b-b0e9-4a7facc9424a",
      "name": "WS-Cache-Found-Key",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1280,
        -440
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "IF USERNAME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Userdata": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Redis Store User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF USERNAME": {
      "main": [
        [
          {
            "node": "Parse Userdata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No User Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Match": {
      "main": [
        [
          {
            "node": "WS-Cache-Found-Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Redis-Get-Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis-Delete-Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis-Get-Key": {
      "main": [
        [
          {
            "node": "Redis Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis-Delete-Key": {
      "main": [
        [
          {
            "node": "WS-End-Delete-Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "f3a91dfe-8fd9-4c73-9b72-a9ea3382d962",
  "id": "17",
  "meta": {
    "instanceId": "290edf19075c573c46d8641c39432c3840460ddf29e6f748ee54a95aeeb3ed59"
  },
  "tags": []
}